@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik&display=swap');

/*Color*/
:root {
  --primary-color: #172432;
  --secondary-primary-color: #fff;
  --text-color: #767E86;
  --accent-color: #FF7757;
  --secondary-color: #ff8f76;
  --background-color: #172432;
  --card-background-color: #FFE8D4;
  --review-background-color: #F5F6F7;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Rubik", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: 4rem 0;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: .6rem 1.5rem;
  background: var(--accent-color);
  border-radius: .7rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--secondary-primary-color);
}

.btn a {
  color: var(--secondary-primary-color);
}

.btn:hover {
  background: var(--secondary-color);
}

input {
  font-size: 100%;
}

.title {
  display: inline-block;
  position: relative;
  letter-spacing: 1.5px;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60%;
  height: 3px;
  background-color: var(--accent-color);
}

.subtitle {
  font-size: 1.75rem;
}

.text {
  font-size: 1rem;
  color: var(--text-color);
}

@media (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}